.form{
 
    font-size: 1.2rem;
    border: 1px solid #343434;
    padding: 1rem;
    font-size: 1.4rem;
}
table {
    border-collapse: collapse;
     width: 100%;
    margin-bottom: 2rem;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;

 
}
input,textarea{
    width: 100%;
    text-align: center;
}
.IndenterDetails{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
 
}
.IndentDetails{
    display: grid;
    grid-template-columns: 30fr 20fr 20fr 20fr;
}
.align{
    display: grid;
    grid-template-columns: 10fr 90fr;
    align-items: center;
}
.Application{
    display: grid;
    grid-template-columns: 30fr 70fr;
}
.forDelete{
    display: flex;
    gap: 1rem;

}
.requisitiondetails{
  color: #e61425;
  font-size: 1.2rem;

  

}

.delete{
    color: red;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 900;
}
.comments{
   display: flex;
   gap: 2rem;
   align-items: center;
   margin-bottom: 2rem;
}
.ItemsTable{
    width: 100%;
    display: grid;
    grid-template-columns: 30fr 20fr 15fr 20fr 10fr 5fr;
}
.amount{
    width: 100%;
    display: grid;
    grid-template-columns: 15fr 40fr 15fr 30fr;
   
}

.disabled {
    background-color: #d3d3d3; /* Light grey */
    color: #808080; /* Dark grey */
    cursor: not-allowed;
}