.inputContainer{
    display: grid;
    grid-template-columns: 60fr 30fr;
   align-items: center;
   justify-content: space-evenly;
 



}
.form{
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
