.messageContainer{
  width: inherit;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: #343434;

 


}
.message{
  letter-spacing: 1.2px;
}


.error {
  border-bottom: 2px solid #ec3966; /* Add '2px solid' or your preferred border style */
}
.success {
  border-bottom: 2px solid #2E8B57; /* Add '2px solid' or your preferred border style */
}
