.HomeDesign{
    max-width: 120rem;
    margin:2rem auto;
    display: grid;
    grid-template-columns: 60fr 40fr;
    background:  rgb(176, 203, 254);
    padding: 2rem;
height: 90vh;
justify-content: center;
border-radius: 5px;




}
.heroTextBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.heroheading{
    font-size: 8.4rem;
    color: #444;
    letter-spacing: -1.2px;
    margin-bottom: 1rem;

}
.para{
    font-size: 3.2rem;
    color:aliceblue ;
    margin-bottom: 1rem;
    letter-spacing: 1.2px;
}

.imgContainer
{
    width: 100%;
    object-fit:cover;
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background:  linear-gradient(to bottom, #6494eda2, rgba(14, 136, 223, 0.568));

}