*{
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;

}
.container {
  max-width: 90vw; /* Set maximum width to 100vw */
  margin: 2rem auto; /* Center the container horizontally */
}
body{
  line-height: 1;
  font-weight: 400;
  color: #555;
}
a{
 text-decoration: none;
 color: inherit;
}
ul{
  list-style: none;
}
.flex{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

}
